// creating hover effects with css psuedo selectors
a {
    transition: all 1s;
}

a:hover {
    border: 1 px solid black;
    background: red;
    color: white;
    padding: 5px;
    transform: rotate(180deg)
}

button:hover,
a:focus {
    background-color: rgb(162, 162, 238);
    color: black;
    transition: all 1s;
}


.gallery img{
  transition: all 0.8s;
}

.gallery img:hover {
    transform: scale(1.2);
    border: 1px solid black;
}

input:focus {
    border: white;
}